<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>login</title>
</head>
<body>
     <dir class="w-full h-screen p-10 bg-red-300">
        <h1>-login-</h1>
        <form action="/verify"  method="post" class"flex-col justify-center item-center " >
            <input class="px-2 py-1 m-2 bg-none border-2 border-red-100   outline-none  "  type="text" placeholder="Roll-Number" name ="username" />
            <input class="px-2 py-1 m-2 bg-none border-2 border-red-100 outline-none "  type="password" placeholder="password" name="password"/>
            <input class=" rounded-full  font-semibold  px-3 py-1 bg-blue-500" type="submit"  />

        </form>
     </dir>
    
</body>
</html>