<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Profile </title>
</head>
<body>
    <div> 
        <h1 class="p-4 m-2 text-3xl text-red-300">Profile section</h1>
         <h2 class=" p-2 m-4 text-sm text-green-700">name == <%= username %></h2>
         <h2 class=" p-2 m-4 text-sm text-green-700">email == <%= email %></h2>
    </div>
    
</body>
</html>